<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Title</title>
</head>
<style>
    #id_category {
        width: 200px;
        margin-right: 15px;
    }
    #id_feature_key_name {
        width: 400px;
        margin-right: 15px;
    }
</style>
<body>
<div class="container">
<h3 class="text-center">Админка характеристик</h3>
<hr>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-4">
<div class="list-group">
    <a href="{% url 'new-category' %}" class="list-group-item list-group-item-action {% if request.path == "/product-specs/new-category/" %}active{% endif %}" aria-current="true">
    Создать новую категорию
  </a>
  <a href="{% url 'new-feature' %}" class="list-group-item list-group-item-action {% if request.path == "/product-specs/new-feature/" %}active{% endif %}" aria-current="true">
    Создать новую характеристику
  </a>
    <a href="{% url 'new-validator' %}" class="list-group-item list-group-item-action {% if request.path == "/product-specs/new-validator/" %}active{% endif %}" aria-current="true">
    Создать значение характеристики
  </a>
    <a href="{% url 'new-product-feature' %}" class="list-group-item list-group-item-action {% if request.path == "/product-specs/new-product-feature/" %}active{% endif %}" aria-current="true">
    Создать характеристику для товара
    <a href="{% url 'update-product-features' %}" class="list-group-item list-group-item-action {% if request.path == "/product-specs/update-product-features/" %}active{% endif %}" aria-current="true">
    Редактировать характеристику для товара
  </a>
</div>
    </div>
    <div class="col-md-8">
    {% block content %}
    {% endblock %}

    </div>
</div>
{% block productfeaturesupdate %}
{% endblock productfeaturesupdate %}
{% block massfeatures %}
{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{% block js %}
<script>
        $('select[name="category-validators"]').on('change', function() {
        var categoryId = this.value;
        data = {
            category_id: categoryId
        }
        prev_choice = categoryId
        $(".feature-validator-div").empty()
        $(".feature-value-div").empty()
        $(".errors").empty()
        $.ajax({
            method: "GET",
            dataType: "json",
            data: data,
            url: "/product-specs/feature-choice/",
            success: function(data){
                $(".feature-validator-div").css('display', 'block');
                $(".feature-validator-div").append(data['result'])
            }
        })
    });
    $(document).on('change', 'select[name="feature-validators"]', function(){
        $('.feature-value-div').empty()
        $('.errors').empty()
        $('.feature-value-div').append(
            '<input type="text" class="form-control" id="feature-value" required></input>',
            '<br>',
            '<input type="submit" class="btn btn-success" id="create-validator" value="Создать">'
        )
    })
</script>
<script>
    $(document).on('click', '#create-validator', function (){
        var catgoryId = $("#category-validators-id").val();
        var featureName = $("#feature-validators-id").val();
        var featureValue = $("#feature-value").val()
        data = {
            category_id: catgoryId,
            feature_name: featureName,
            feature_value: featureValue
        }
        $.ajax({
            method: "GET",
            dataType: "json",
            data:data,
            url: "/product-specs/feature-create/",
            success: function (data){
                if('error' in data){
                    $('.errors').append(
                        '<p class="text-center" style="color:red;"><strong>' + data['error'] + '</strong></p>'
                    )
                }else{
                    console.log('asdasdasdasdasd')
                    window.location.href="/product-specs/"
                }
            }
        })
    })
</script>
{% endblock js %}
</body>
</html>